## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [167]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')

df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [129]:
# View the column names in the data
column_names = df.columns
column_names

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [130]:
# Use the describe function to gather some basic statistics
statistics = df.describe()
statistics.head()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,54639.00000,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,570.26461,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,18795.51996,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.00000,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,32.00000,1.000000

In [131]:
# Use this space to do any additional research
# and familiarize yourself with the data.
df.job.unique().tolist()

['Immunologist',
 'Music therapist',
 'Accounting technician',
 'Chiropractor',
 'Production designer, theatre/television/film',
 'Barista',
 'Theme park manager',
 'Chiropodist',
 'Secretary, company',
 'Engineer, broadcasting (operations)',
 'Surveyor, land/geomatics',
 'Lobbyist',
 'Psychologist, clinical',
 'Research scientist (maths)',
 'Government social research officer',
 'Colour technologist',
 'Production assistant, television',
 'Lecturer, further education',
 'Commercial art gallery manager',
 'Architectural technologist',
 'Engineer, manufacturing systems',
 'Textile designer',
 'Air cabin crew',
 'Medical illustrator',
 'Technical brewer',
 'Radiographer, therapeutic',
 'Race relations officer',
 'Horticulturist, amenity',
 'Surveyor, rural practice',
 'Science writer',
 'Airline pilot',
 'Environmental health practitioner',
 'Warehouse manager',
 'IT technical support officer',
 'Quarry manager',
 'Accountant, chartered',
 'Doctor, general practice',
 'Structural engineer',
 'Toxicologist',
 'Education officer, museum',
 'Designer, interior/spatial',
 'Retail buyer',
 'Designer, exhibition/display',
 'Bookseller',
 'Solicitor',
 'Education administrator',
 'Haematologist',
 'Musician',
 'Biochemist, clinical',
 'Horticultural therapist',
 'Waste management officer',
 'Health and safety inspector',
 'Conservator, museum/gallery',
 'Clinical psychologist',
 'Environmental education officer',
 'Psychiatrist',
 'Press sub',
 'Environmental manager',
 'Teacher, special educational needs',
 'Journalist, magazine',
 'Geologist, engineering',
 'IT consultant',
 'Hospital doctor',
 'Surveyor, minerals',
 'Leisure centre manager',
 'Field trials officer',
 'Accommodation manager',
 'Learning disability nurse',
 'Teacher, music',
 'Exhibitions officer, museum/gallery',
 'Learning mentor',
 'Investment banker, corporate',
 'Recruitment consultant',
 'Consulting civil engineer',
 'Audiological scientist',
 'Secretary/administrator',
 'Armed forces training and education officer',
 'Insurance underwriter',
 'Sports therapist',
 'Therapist, sports',
 'Housing manager/officer',
 'Careers adviser',
 "Politician's assistant",
 'IT trainer',
 'Warden/ranger',
 'Radio producer',
 'Commercial/residential surveyor',
 'Production engineer',
 'Engineer, land',
 'Osteopath',
 'Sales executive',
 'Immigration officer',
 'Records manager',
 'Financial risk analyst',
 'Physiotherapist',
 'Video editor',
 'Educational psychologist',
 'Animal technologist',
 'Claims inspector/assessor',
 'Radiographer, diagnostic',
 'Heritage manager',
 'Local government officer',
 'Physicist, medical',
 'Geologist, wellsite',
 'Paramedic',
 'Therapeutic radiographer',
 'Biomedical scientist',
 'Pilot, airline',
 'Customer service manager',
 'Armed forces technical officer',
 'Development worker, international aid',
 'Forest/woodland manager',
 'Retail manager',
 'Buyer, industrial',
 'Chief of Staff',
 'Editorial assistant',
 'Designer, multimedia',
 'Product/process development scientist',
 'Psychologist, sport and exercise',
 'Town planner',
 'Herpetologist',
 'Engineer, energy',
 'General practice doctor',
 'Scientist, clinical (histocompatibility and immunogenetics)',
 'Medical physicist',
 'Mechanical engineer',
 'Technical sales engineer',
 'Purchasing manager',
 'Operations geologist',
 'Chartered accountant',
 'Public relations officer',
 'Surveyor, quantity',
 'Make',
 'Editor, commissioning',
 'Electrical engineer',
 'Hydrographic surveyor',
 'Pharmacist, community',
 'Teacher, primary school',
 'Legal executive',
 'Special effects artist',
 'Police officer',
 'Software engineer',
 'Health and safety adviser',
 'Geophysical data processor',
 'Therapist, drama',
 'Architect',
 'Theatre director',
 'Hydrologist',
 'Insurance broker',
 'Agricultural consultant',
 'Associate Professor',
 'Graphic designer',
 'Trading standards officer',
 'Private music teacher',
 'Medical laboratory scientific officer',
 "Nurse, children's",
 'Conference centre manager',
 'Regulatory affairs officer',
 'Librarian, academic',
 'Games developer',
 'Event organiser',
 'Scientist, research (physical sciences)',
 'Arboriculturist',
 'Energy engineer',
 'Engineer, control and instrumentation',
 'Museum/gallery conservator',
 'Emergency planning/management officer',
 'Glass blower/designer',
 'Print production planner',
 'Designer, furniture',
 'Nurse, learning disability',
 'Printmaker',
 'Actor',
 'Administrator, local government',
 'Chartered management accountant',
 'Archaeologist',
 'Commissioning editor',
 'Dance movement psychotherapist',
 'Holiday representative',
 'Camera operator',
 'Primary school teacher',
 'Product designer',
 'Gaffer',
 'Insurance account manager',
 'Engineer, mining',
 'Chartered certified accountant',
 'Pension scheme manager',
 'Radio broadcast assistant',
 'Therapist, occupational',
 'Broadcast journalist',
 'Psychologist, prison and probation services',
 'Petroleum engineer',
 'Museum/gallery exhibitions officer',
 'Fashion designer',
 'Advice worker',
 'Microbiologist',
 'Brewing technologist',
 'Geographical information systems officer',
 'Sports coach',
 'Operational investment banker',
 'Research officer, government',
 'Arts administrator',
 'Actuary',
 'Producer, radio',
 'Aid worker',
 'Education officer, environmental',
 'Physiological scientist',
 'Exhibition designer',
 'Building services engineer',
 'Retail banker',
 'Surveyor, mining',
 'Prison officer',
 'Operational researcher',
 'Doctor, hospital',
 'Fish farm manager',
 'Facilities manager',
 'Orthoptist',
 'Designer, blown glass/stained glass',
 'Public relations account executive',
 'Therapist, nutritional',
 'Ranger/warden',
 'Banker',
 'Designer, jewellery',
 'Buyer, retail',
 'Land/geomatics surveyor',
 'Fine artist',
 'Administrator, arts',
 'Industrial/product designer',
 'Database administrator',
 'Personnel officer',
 'Manufacturing engineer',
 'Dispensing optician',
 'Engineer, agricultural',
 'Curator',
 'Trade mark attorney',
 'Accountant, chartered public finance',
 'Geophysicist/field seismologist',
 'Teacher, adult education',
 'Call centre manager',
 'Engineer, maintenance',
 'Radiation protection practitioner',
 'Research scientist (life sciences)',
 'Geneticist, molecular',
 'Communications engineer',
 'Programmer, applications',
 'Minerals surveyor',
 'Administrator, Civil Service',
 'Psychotherapist',
 'Diplomatic Services operational officer',
 'Archivist',
 'Materials engineer',
 'Telecommunications researcher',
 'Chief Financial Officer',
 'Dietitian',
 'Investment banker, operational',
 'Drilling engineer',
 'Health physicist',
 'Dramatherapist',
 'Engineer, electronics',
 'Therapist, music',
 'Maintenance engineer',
 'Research officer, political party',
 'Development worker, community',
 'Mental health nurse',
 'Pharmacologist',
 'Civil engineer, consulting',
 'Community arts worker',
 'Accountant, chartered management',
 'Public affairs consultant',
 'Engineer, aeronautical',
 'Conservator, furniture',
 'Estate agent',
 'Publishing copy',
 'Energy manager',
 'Web designer',
 'Tourism officer',
 'Nature conservation officer',
 'Optician, dispensing',
 'Civil Service fast streamer',
 'Engineer, structural',
 'Media planner',
 'Art therapist',
 'Comptroller',
 'Hydrogeologist',
 'Ceramics designer',
 'Rural practice surveyor',
 'Scientist, forensic',
 'Social research officer, government',
 'Museum education officer',
 'Research officer, trade union',
 'Medical sales representative',
 'Careers information officer',
 'Speech and language therapist',
 'Multimedia specialist',
 'Location manager',
 'Restaurant manager',
 'Accountant, chartered certified',
 'Automotive engineer',
 'Adult nurse',
 'Farm manager',
 'Adult guidance worker',
 'Runner, broadcasting/film/video',
 'Clinical scientist, histocompatibility and immunogenetics',
 'Surveyor, planning and development',
 'Programme researcher, broadcasting/film/video',
 'Statistician',
 'Analytical chemist',
 'Counselling psychologist',
 'Ambulance person',
 'Engineer, civil (contracting)',
 'TEFL teacher',
 'Psychologist, educational',
 'Medical technical officer',
 'Tree surgeon',
 'Teaching laboratory technician',
 'Engineer, technical sales',
 'Presenter, broadcasting',
 'Armed forces logistics/support/administrative officer',
 'Administrator, charities/voluntary organisations',
 'Geoscientist',
 'Exercise physiologist',
 'Psychotherapist, child',
 'Medical secretary',
 'Ophthalmologist',
 'Product manager',
 'Museum/gallery curator',
 'Art gallery manager',
 'Insurance risk surveyor',
 'Optometrist',
 'Public librarian',
 'Engineer, drilling',
 'Logistics and distribution manager',
 'Financial trader',
 'Film/video editor',
 'Further education lecturer',
 'Solicitor, Scotland',
 'Engineer, site',
 'Engineer, biomedical',
 'Company secretary',
 'Designer, graphic',
 'Commercial horticulturist',
 'Site engineer',
 'Aeronautical engineer',
 'Equality and diversity officer',
 'Insurance claims handler',
 'Personal assistant',
 'Field seismologist',
 'Environmental consultant',
 'Lawyer',
 'Financial adviser',
 'Diagnostic radiographer',
 'Passenger transport manager',
 'Senior tax professional/tax inspector',
 'Nutritional therapist',
 'Seismic interpreter',
 'Administrator, sports',
 'Midwife',
 'Lexicographer',
 'Tax adviser',
 'Outdoor activities/education manager',
 'Financial planner',
 'Engineer, building services',
 'Journalist, broadcasting',
 'Lecturer, higher education',
 'Photographer',
 'Engineering geologist',
 'Forensic psychologist',
 'Intelligence analyst',
 'Therapist, horticultural',
 'Market researcher',
 'Journalist, newspaper',
 'Office manager',
 'Homeopath',
 'Advertising copywriter',
 'Biomedical engineer',
 'Marine scientist',
 'Freight forwarder',
 'Food technologist',
 'Artist',
 'Estate manager/land agent',
 'Psychotherapist, dance movement',
 'Management consultant',
 'Dancer',
 'Chartered loss adjuster',
 'Lighting technician, broadcasting/film/video',
 'Air broker',
 'Civil Service administrator',
 'Child psychotherapist',
 'Investment analyst',
 'Engineer, chemical',
 'Best boy',
 'Social researcher',
 'Ecologist',
 'Scientist, research (life sciences)',
 'Astronomer',
 'Information officer',
 'Surveyor, building',
 'Health service manager',
 'Engineer, electrical',
 'Charity fundraiser',
 'Land',
 'Data processing manager',
 'Chief Operating Officer',
 'Surveyor, hydrographic',
 'Horticultural consultant',
 'Paediatric nurse',
 'Clinical biochemist',
 'Cabin crew',
 'Set designer',
 'Naval architect',
 'Designer, industrial/product',
 'Equities trader',
 'Clinical molecular geneticist',
 'English as a second language teacher',
 'Systems analyst',
 'Sound technician, broadcasting/film/video',
 'Conservation officer, historic buildings',
 'Engineer, water',
 'Plant breeder/geneticist',
 'Pharmacist, hospital',
 'Historic buildings inspector/conservation officer',
 'Advertising account executive',
 'Television floor manager',
 'Theatre manager',
 'Volunteer coordinator',
 'Surveyor, building control',
 'Dentist',
 'Community pharmacist',
 'Human resources officer',
 'Garment/textile technologist',
 'Special educational needs teacher',
 'Amenity horticulturist',
 'Planning and development surveyor',
 'Animator',
 'Quality manager',
 'Sales promotion account executive',
 'Chief Technology Officer',
 'Arts development officer',
 'Scientist, water quality',
 'Chief Executive Officer',
 'Retail merchandiser',
 'Education officer, community',
 'Research scientist (medical)',
 'Teacher, early years/pre',
 'Tour manager',
 'Translator',
 'Cytogeneticist',
 'Newspaper journalist',
 'Restaurant manager, fast food',
 'Counsellor',
 'Nurse, adult',
 'Engineer, automotive',
 'Conservation officer, nature',
 'Clinical cytogeneticist',
 'Chemical engineer',
 'Travel agency manager',
 'Network engineer',
 'Water quality scientist',
 'Engineer, manufacturing',
 'Administrator',
 'Jewellery designer',
 'Surveyor, commercial/residential',
 'Surgeon',
 'Barrister',
 'Editor, film/video',
 'Surveyor, insurance',
 'Magazine journalist',
 'Designer, textile',
 'Clinical embryologist',
 'Embryologist, clinical',
 'Financial manager',
 'Sub',
 'International aid/development worker',
 'Advertising account planner',
 'Hotel manager',
 'Engineer, materials',
 'Scientist, research (maths)',
 'Forensic scientist',
 'Fitness centre manager',
 'Youth worker',
 'Information systems manager',
 'Community development worker',
 'Corporate investment banker',
 'Chemist, analytical',
 'Herbalist',
 'Wellsite geologist',
 'Oncologist',
 'Merchant navy officer',
 'Systems developer',
 'Magazine features editor',
 'Engineer, production',
 'Television camera operator',
 'Psychologist, forensic',
 'Psychologist, counselling',
 'Publishing rights manager',
 'Theatre stage manager',
 'Occupational hygienist',
 'Copywriter, advertising']

In [132]:
# What three item categories had the most entries?
top_categories = df["category"].value_counts()
top_categories.head(3)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [133]:
# For the category with the most entries,
# which subcategory had the most entries?
top_subcategory = df.loc[df["category"] == (top_categories.index[0]),"subcategory"].value_counts()
top_subcategory.head(1)

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [134]:
# Which five clients had the most entries in the data?
client_entries = df ['client_id'].value_counts()
top_5_clients = client_entries
top_5_clients.head()

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [135]:
# Store the client ids of those top 5 clients in a list
top_client_ids = client_entries.index.tolist()
top_5_clients.head()

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [168]:
# How many total units (the qty column) did the
# client with the most entries order order?
client_most_entries = df[df['client_id'] == 33615]
total_units_ordered = client_most_entries['qty'].sum()
display("Total units ordered by the client with the most entries:", total_units_ordered)

'Total units ordered by the client with the most entries:'

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [137]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty
df['subtotal'] = df.apply(lambda row:row['unit_price']* row['qty'], axis=1)
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00

In [153]:
# Create a column for shipping price.Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
df['shipping_price'] = df.apply(lambda row: 7 * row['unit_weight'] if row['unit_weight'] > 50 else 10 * row['unit_weight'], axis=1)
display(df)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,shipping_price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,75.0
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95,14.9
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28,16.8
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18,12.3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00,464.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29,22.5
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,117.0
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,41.6
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76,180.4
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31,20.7

In [154]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
df['total_price'] = df['subtotal'] + df['shipping_price'] + df['subtotal'] * 0.0925
display(df)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,shipping_price,total_price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,75.0,125891.670000
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,consumables,pens,24.95,15.09,1.49,21,0,523.95,14.9,587.315375
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,software,project management,13.52,7.86,1.68,39,6,527.28,16.8,592.853400
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,consumables,pens,36.42,24.85,1.23,29,3,1056.18,12.3,1166.176650
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,consumables,misc,195.10,108.17,46.43,20,1,3902.00,464.3,4727.235000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,software,logistics,83.13,51.60,2.25,33,8,2743.29,22.5,3019.544325
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,117.0,10724.880025
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,41.6,34115.036250
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,furniture,stands,1.48,1.22,18.04,112,0,165.76,180.4,361.492800
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,software,project management,3.01,1.61,2.07,1031,5,3103.31,20.7,3411.066175

In [155]:
# Create a column for the cost of each line using unit cost, qty, and shipping price (assume the shipping cost is exactly what is charged to the client).
df['line_cost'] = df['unit_cost'] * df['qty'] + df['shipping_price']
display(df)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,shipping_price,total_price,line_cost
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,wall art,1096.80,762.71,7.50,105,1,115164.00,75.0,125891.670000,80159.55
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,pens,24.95,15.09,1.49,21,0,523.95,14.9,587.315375,331.79
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,project management,13.52,7.86,1.68,39,6,527.28,16.8,592.853400,323.34
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,pens,36.42,24.85,1.23,29,3,1056.18,12.3,1166.176650,732.95
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,misc,195.10,108.17,46.43,20,1,3902.00,464.3,4727.235000,2627.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,logistics,83.13,51.60,2.25,33,8,2743.29,22.5,3019.544325,1725.30
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,117.0,10724.880025,8363.62
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,41.6,34115.036250,27263.85
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,stands,1.48,1.22,18.04,112,0,165.76,180.4,361.492800,317.04
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,project management,3.01,1.61,2.07,1031,5,3103.31,20.7,3411.066175,1680.61

In [169]:
# Create a column for the profit of each line using line cost and line price
df['profit'] = df['line_price'] - df['line_cost']
display(df)

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [166]:
# Check your work using the totals above

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [ ]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.

33615: $8377308.52
66037: $10259514.79
46820: $9743794.36
38378: $12906550.87
24741: $82268892.02

In [ ]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.

   client_id     qty  shipping_price   line_price    line_cost  line_profit
4      24741  239862      5126448.37  82268892.02  45688899.71  36579992.31
3      38378   73667      3429455.40  12906550.87   9634720.98   3271829.89
1      66037   43018      1395151.85  10259514.79   7004482.98   3255031.81
2      46820   75768      1601448.84   9743794.36   7007191.64   2736602.72
0      33615   64313      1828984.89   8377308.52   6175313.91   2201994.61

In [ ]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

In [ ]:
# Sort the updated data by "Total Profit" form highest to lowest

   Client ID   Units Shipping Total Revenue Total Cost Total Profit
4      24741  239862   $5.13M       $82.27M    $45.69M      $36.58M
3      38378   73667   $3.43M       $12.91M     $9.63M       $3.27M
1      66037   43018   $1.40M       $10.26M     $7.00M       $3.26M
2      46820   75768   $1.60M        $9.74M     $7.01M       $2.74M
0      33615   64313   $1.83M        $8.38M     $6.18M       $2.20M